.calendar {
  font-size: 25px;
}

table {
  border-collapse: collapse;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

tr td {
  text-align: center;
  vertical-align: middle;
}

h1 {
  text-align: center;
  padding-bottom: 50px;
}
